/Standard-Atmospheres.aux
/Standard-Atmospheres.out
/Standard-Atmospheres.synctex
/Standard-Atmospheres.toc
/Report/Standard-Atmospheres.aux
/Report/Standard-Atmospheres.out
/Report/Standard-Atmospheres.synctex
/Report/Standard-Atmospheres.toc
tape5
tape6
tape7
*.1km
*.fl7
*.ontplt
